<% include header %>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Date</td>
			<td>Consumer Name</td>
			<td>House Name</td>
			<td>House Number</td>
			<td>Contact Number</td>
			<td>Units in kWh</td>
			<td>Price (Rs)</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
	<!-- <% for(var i = 0; i< students.length; i++){ %>
		<% console.log(students[i]._id); %>  -->
		<tr>
			<td><%= 1 %></td>
			<td>20/06/2017</td> 
			<td><%= students[0].name %></td>
			<td><%= students[0].className %></td>
			<td><%= students[0].rollNo %></td>
			<td><%= students[0].dOb %></td>
			<td><%= students[0].Units %></td>
			<td><%= students[0].Units * 10 %></td>
			<td><a " class="btn btn-danger">Print</a></td>
		</tr>
	<!--	<% } %> -->
	</tbody>
</table>
<br>
<br>
<h4 style='color:red'>Note:</h4>
<h4>Price Per Unit is 10 Rupees!!!</h4>
<% include footer %>